section.home.section#home
  .home__container.container.grid
    span.home__img
      img(src=require("../../../images/home-image.png"), alt="odontologo no rj")
    .home__data
      h1.home__title Olá, sou Maria Andrade
      h3.home__subtitle Odontólogo Universal
      p.home__description Com grande habilidade e dedicação, ofereço aos meus pacientes tratamentos de alta qualidade e personalizados, sempre buscando os melhores resultados em saúde bucal.
      a.button(href="#about")
        i.uil.uil-user.button__icon
        | Mais Sobre Mim
    .my__info
      .info__item
        i.uil.uil-whatsapp.info__icon
        div
          h3.info__title Whatsapp
          span.info__subtitle 21-2525-1563
      .info__item
        i.uil.uil-instagram.info__icon
        div
          h3.info__title Instagram
          span.info__subtitle @odontoMariaRJ
      .info__item
        i.uil.uil-envelope-edit.info__icon
        div
          h3.info__title Email
          span.info__subtitle odonto@mariarj.com