section.home.section#home
  .home__container.container.grid
    span.home__img
      //- img(src=require("../../../images/home-img.png"), alt="odontologo no rj")
    .home__data
      h1.home__title Olá, sou Maria Ana da Sousa
      h3.home__subtitle Odontólogo Universal
      p.home__description Lorem ipsum dolor sit amet consectetur, adipisci delectus quaerat non corporis necessitatibus ut eaque molestias voluptatem aperiam, reiciendis fuga distinctio.
      a.button(href="#about")
        i.uil.uil-user.button__icon
        | Mais Sobre Mim
    .my__info
      .info__item
        i.uil.uil-whatsapp.info__icon
        div
          h3.info__title Whatsapp
          span.info__subtitle 21-25-1563
      .info__item
        i.uil.uil-instagram.info__icon
        div
          h3.info__title Instagram
          span.info__subtitle @odontoMariaRJ
      .info__item
        i.uil.uil-envelope-edit.info__icon
        div
          h3.info__title Email
          span.info__subtitle example@example.com