section.testimonials.section
  h2.section__title(data-heading="Meus pacientes dizem") Depoimentos
  .testimonials__container.container.swiper
    .swiper-wrapper
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date March 27. 2020
        .testimonial__profile
          img.testimonial__profile-img(src="#" alt="")
          .testimonial__profile-data
            span.testimonial__profile-name Lee Doe
            span.testimonial__profile-detail Director of a company
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date March 27. 2020
        .testimonial__profile
          img.testimonial__profile-img(src="#" alt="") 
          .testimonial__profile-data
            span.testimonial__profile-name Lee Doe
            span.testimonial__profile-detail Director of a company
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date March 27. 2020
        div.testimonial__profile
          img.testimonial__profile-img(src="#" alt="")
          .testimonial__profile-data
            span.testimonial__profile-name Lee Doe
            span.testimonial__profile-detail Director of a company
    .swiper-pagination
