section.office.section#office
  h2.section__title(data-heading="Onde eu lhes espero") Meu consultório
    .office__container.container.grid
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
      .office__card.mix
        img.office__img(src="#" alt="consultorio")
        h3.office__title Web Design
        span.office__button Demo
          i.uil.uil-arrow-right.office__button-icon
        //- .portfolio__item-details
        //-   h3.details__title The services provided for design
        //-   p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        //-   ul.details__info
        //-     li Created - 
        //-       span 4 dec 2020
