section.about.section#about
  h2.section__title(data-heading="Quem sou") Sobre Mim
  div(data-aos="fade-in" data-aos-duration="1800").about__container.container.grid
      img.about__img(src=require("../../../images/about-img.jpg") alt="")
      .about__data
        h3.about__heading Maria Ana de Sousa, odontólogo do Rio de Janeiro
        p.about__description
            | Dra. Maria é uma odontóloga com mais que 8 anos de prática clínica. Formou-se em melhores instituições do Brasil e Portugal e possui especialização em odontologia universal. Com grande habilidade e dedicação, a Dra. Maria oferece aos seus pacientes tratamentos de alta qualidade e personalizados, sempre buscando os melhores resultados em saúde bucal.
        .about__info.grid
          .about__box
            i.uil.uil-award.about__icon
            h3.about__title Experiência
            span.about__subtitle 8 + anos
          .about__box
            i.uil.uil-suitcase-alt.about__icon
            h3.about__title Curados
            span.about__subtitle 48 000 + dentes
          .about__box
            i.uil.uil-headphones-alt.about__icon
            h3.about__title Garantía
            span.about__subtitle 5 anos
        a.button(href="#contact")
          i.uil.uil-navigator.button__icon
          | Fale comigo
