section.about.section#about
  h2.section__title(data-heading="Quem sou") Sobre Mim
  .about__container.container.grid
      img.about__img(src=require("../../../images/about-img.jpg") alt="")
      .about__data
        h3.about__heading Maria Ana da Sousa, odontólogo do Rio de Janeiro
        p.about__description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto temporibus reiciendis, sequi dolor, voluptas doloribus esse asperiores velit eos molestias sit sint eius! Ullam omnis aliquid quibusdam ipsum nisi culpa.
        .about__info.grid
          .about__box
            i.uil.uil-award.about__icon
            h3.about__title Experiência
            span.about__subtitle 8 + anos
          .about__box
            i.uil.uil-suitcase-alt.about__icon
            h3.about__title Curados
            span.about__subtitle 48 000 + dentes
          .about__box
            i.uil.uil-headphones-alt.about__icon
            h3.about__title Garantía
            span.about__subtitle 5 anos
        a.button(href="#contact")
          i.uil.uil-navigator.button__icon
          | Fale comigo
