div
  .nav__toggle#nav-toggle
    i.fa-solid.fa-bars
  header.header#header
    nav.nav.container
      .nav__logo
          a.nav__logo-text(href="index.html")
            i.fa-light.fa-tooth
      .nav__menu
        .menu
          ul.nav__list
            li.nav__item
              a.nav__link.active-link(href="#home") Home
            li.nav__item
              a.nav__link(href="#about") Sobre Mim
            li.nav__item
              a.nav__link(href="#skills") Qualificações
            li.nav__item
              a.nav__link(href="#office") Meu Consultório
            li.nav__item
              a.nav__link(href="#services") Serviços
            li.nav__item
              a.nav__link(href="#contact") Contatos
      .nav__close#nav-close
        i.fa-regular.fa-xmark
