/*=============== HEADER ===============*/
.header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid var(--skin-color);
  transition: .6s;
  z-index: 1000;
}

.nav__logo {
  position: absolute;
  left: 2rem;
  top: 25px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--skin-color);
  text-align: center;
  margin: auto;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo-text {
  img {
    height: 30px;
    display: block;
  }
}

.nav__menu {
  position: fixed;
  left: 100px;
  top: 17px;
}

// .menu {
//   display: flex;
//   border: 1px solid green;
// }

.nav__list {
  display: flex;
}

.nav__link {
  height: 100%;
  padding: 0 1rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: .4s;
}

// .btn__share {
//   position: absolute;
//   bottom: 1.8rem;
//   left: 0;
//   right: 0;
//   text-align: center;
// }

// .social__share {
//   font-size: 1.5rem;
// }

.nav__toggle {
  height: 32px;
  width: 36px;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: .5rem;
  font-size: 1.2rem;
  border-radius: .25rem;
  background-color: var(--skin-color);
  color: var(--title-color);
  display: none;
  justify-content: center;
  z-index: 1001;
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: .4rem;
  right: 3rem;
  cursor: pointer;
  display: none;
}

/* Active Link */
.nav__link.active-link, .nav__link:hover {
  color: var(--skin-color);
}

///////////////////////////////////////

@media screen and (max-width: 1024px) {
  .header {
    height: 50px;
  }

  .nav__menu {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, -300px);
    transition: 0.6s;
  }

  .nav__list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav__link {
    padding: 1rem 0;
    line-height: 1.5rem;
  }

  .nav__link.active-link::after, .nav__link:hover::after {
    bottom: 0;
  }

  .nav__close {
    display: block;
    display: none;
  }

  .nav__toggle {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
    .nav__logo {
      left: 1.5rem;
    }
    
    .nav__toggle {
      right: 1.5rem;
  }
}
