div
  .nav__toggle#nav-toggle
    i.uil.uil-bars
  header.header#header
    nav.nav.container
      .nav__logo
          a.nav__logo-text(href="index.html")
            img(src=require("../../../images/icons/teeth.png"), alt="dente")
      .nav__menu
        .menu
          ul.nav__list
            li.nav__item
              a.nav__link.active-link(href="#home") Home
            li.nav__item
              a.nav__link(href="#about") Sobre Mim
            li.nav__item
              a.nav__link(href="#services") Serviços
            li.nav__item
              a.nav__link(href="#office") Meu Consultório
            li.nav__item
              a.nav__link(href="#qualification") Qualificações
            li.nav__item
              a.nav__link(href="#testimonials") Depoimentos
            li.nav__item
              a.nav__link(href="#contact") Contatos
      .nav__close#nav-close
        i.uil.uil-times
