section.qualification.section#qualification
  h2.section__title(data-heading="Meu caminho") Qualificações
  div(data-aos="fade-in" data-aos-duration="1800").qualification__container.container.grid
    .education
      h3.qualification__title
        i.uil.uil-graduation-cap
        |  Formação
      .timeline
        .timeline__item
          .circle__dot
          h3.timeline__title XYZ University (London, UK)
          p.timeline__text BFA in Graphic Design
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2011 - 2013
        .timeline__item
          .circle__dot
          h3.timeline__title ABC University (Birmingham, UK)
          p.timeline__text Diploma in Web Design
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2013 - 2015
        .timeline__item
          .circle__dot
          h3.timeline__title KLM University (Oxford, UK)
          p.timeline__text BS in Web Development
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2013 - 2017
    .experience
      h3.qualification__title
        i.uil.uil-suitcase
        |  Experiência
      .timeline
        .timeline__item
          .circle__dot
          h3.timeline__title Copalopa Inc.
          p.timeline__text Lead UX Designer
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2018 - Present
        .timeline__item
          .circle__dot
          h3.timeline__title Gagoble Inc
          p.timeline__text Web Site Designer
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2013 - 2018