section.qualification.section#qualification
  h2.section__title(data-heading="Meu caminho") Qualificações
  div(data-aos="fade-in" data-aos-duration="1800").qualification__container.container.grid
    .education
      h3.qualification__title
        i.uil.uil-graduation-cap
        |  Formação
      .timeline     
        .timeline__item
          .circle__dot
          h3.timeline__title Hospital Universitário Pedro Ernesto da UERJ (RJ, Brasil)
          p.timeline__text Cirurgia bucomaxilofacial 
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2010 - 2013
        .timeline__item
          .circle__dot
          h3.timeline__title Universidade de Coimbra (Portugal)
          p.timeline__text Faculdade de Medicina Dentária
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2006 - 2010
        .timeline__item
          .circle__dot
          h3.timeline__title Universidade Federal do Rio de Janeiro (RJ, Brasil)
          p.timeline__text Odontologia
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2001 - 2006
    .experience
      h3.qualification__title
        i.uil.uil-suitcase
        |  Experiência
      .timeline
        .timeline__item
          .circle__dot
          h3.timeline__title Clínica particular
          p.timeline__text Odontologo universal
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2018 - agora
        .timeline__item
          .circle__dot
          h3.timeline__title Clínica odontológica Sorrisos Cariocas
          p.timeline__text Odontologo
          span.timeline__date
            i.uil.uil-calendar-alt
            | 2006 - 2018