doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Odontologia no Rio de Janeiro")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Odontologia no Rio de Janeiro") 
    meta(property="og:site_name" content="Doutora Maria Ana da Sousa") 
    meta(property="og:url" content="https://www.eformaliza.com/") 
    meta(property="og:description" content="Odontologia integrada no Rio de Janeiro. Sua saúde está em boas mãos") 
    meta(property="og:image" content="https://i.postimg.cc/RCWvsSxt/logo-principal.jpg")
    script(defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
    //- <script async src="https://www.googletagmanager.com/gtag/js?id=G-63DZLREM66"></script>
    //- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-590042240"></script>
    //- <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-63DZLREM66');gtag('config', 'AW-590042240');</script>
    title Odontólogo Maria Ana da Sousa
  body.preload#home(style="visibility: hidden;")
    include sections/header/header
    include sections/home/home
    //- include sections/about/about
    //- include sections/services/services
    //- include sections/office/office
    //- include sections/qualifications/qualifications
    //- include sections/opinions/opinions
    //- include sections/ask/ask
    //- include sections/footer/footer
    include sections/whatsappIcon/whatsappIcon
